.maincontainerAddUpdateCar{
    
    width: 100%; height: auto;
    margin-top:50px ;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

     

}


#addCar{
    padding: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.input_values{
    display: flex;
    width: 1000px;
    align-items:stretch;
    justify-content: center;
    height: 300px;
}

.addPropertiesInputs{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    
}
.addPropertiesSelectors{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

select, option{
    width: 400px;
    font-size: 16px;
    border-radius: 10px;
    height: 40px;
    margin-left: 20px;
    text-align: center;
}

.input_values input, #idCar{
    width: 400px;
    font-size: 16px;
    border-radius: 10px;
    height: 40px;
    margin-right: 20px;
    padding-left: 20px;
}







.addCarImgSelectorDiv{

    width: 900px;
    margin-top: 20px;
height: 100px;
    display: flex;
align-items: center;
}

.input_btns input{
    background-color: aliceblue;
    width: 200px;
    height: 50px;
border-radius:10px ;
margin: 30px;
font-size: 16px;
}


.addCarImgSelectorDiv input{
    font-size: 16px;
    text-align: center;

    background-color: greenyellow;
    width: 150px;
    height: 40px;
border-radius:10px ;
margin: 30px;
}






















.imgs {
    height: 80px;
    width: 120px;
    border: 1px black;
    margin-left: -10%;
    margin-right: 10%;
    transition: .4s;

}

.imagesDivStyle{
    width: 100%;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px gray;
    padding: 5px;
}
.imageDiv{
    
}

.imgs:hover{
    scale: 200%;
    background-color: white;
  
    transform: translateY(-25px);
    transition: .5s ;
}


/*
.SignUpForm {
    width: 80%;
    height: auto;
    padding: 30px;
    text-align: center;
    background: url(./signUpBackGround.jpg);  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border: 1px solid rgb(73, 61, 61);
    background-color: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;

}

.SignUpForm h1 {
    color: white;
    margin-top: 25px;
    padding-bottom: 25px;
    font-size: 50px;
}

.SignUpForm input {
    display: block;
    width: 30%;
    height: 50px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border: none;

}

.SignUpForm .txt {
    margin: 25px 0px;
    border-radius: 10px;
}

.SignUpFormz .btn {
    color: white;
    font-size: 15px;
    border-radius: 40px 10px;
    margin-top: 50px;
    margin-bottom: 25px;
    background-color: green;
    cursor: pointer;
    transition: 0.5s;
    display: block;

}

.btn:hover {
    background-color: gold;
    color: black;
    transform: scale(0.90);

}

.SignUpForm p {
    color: white;
}

.SignUpForm a {
    color: blue;
}

.input_values {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.input_btns {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.SignUpFormz {

    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;

}








.imgs {
    height: 80px;
    width: 100px;
    border: 1px black;
    margin: 5px;
}

.imagesDivStyle {
    width: 100%;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px gray;
    padding: 5px;
}
.imageDiv{
    
}



*/