/* login_style.css */

/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:center fixed no-repeat url("./images/login_bg.png");
    background-size: cover;
}



/* Login container styles */
.login-container {
  position: relative;
  width: 400px;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#main h1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

#main input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



#main button {
  
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#main button:hover {
  background-color: #0056b3;
}

#main p {
  margin-bottom: 10px;
}

#main span {
  font-weight: bold;
}

#submit{
    background-color: #285fa7;
}

#sign-up {
  background-color: #28a745;
}

#sign-up:hover {
  background-color: #1d923e;
}

#google_login {
  background-color: #ea4335;
}

#google_login:hover {
  background-color: #b3281c;
}

#forgetpass {
    background-color: transparent;
    display: none;
  }

#forgetpass:hover {
  background-color: transparent;
  text-decoration: underline;
}

/* Create account styles */
#create-acct {
  display: none;
  margin-top: 20px;
}

 h1 {
  margin: 20px;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

#create-acct input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#create-acct button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#create-acct-btn{
    background-color: #285fa7;
}


  #create-acct button:hover {
    background-color: #064486;
  }
  
  #return-btn {
    background-color: #6c757d;
  }
  
  #return-btn:hover {
    background-color: #545b62;
  }