@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}
.background{
  overflow: hidden;

}
.background video{
width: 100%;
overflow: hidden;
}
.blur{
 
  height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
  
}



h1 {
  margin-bottom: 8%;
  text-align: center;
  font-size: 50px;
  color: #7e7f8a;
  letter-spacing: 0.1em;
}

p {
  margin-top: 6%;
  margin-bottom: 6%;
  width: 100%;
  text-align: center;
  
  line-height: 0.1em;
  color: white;
}

p span {
  background:rgba(255, 255, 255, 0);
  padding:0 10px;
}

input {
  background-color: rgb(204, 211, 216);
  margin-bottom: 3%;
  width: 100%;
  padding: 3%;
}

input:last-of-type {
  margin-bottom: 0;
}

button {
  background-color: #7e7f8a;
  padding: 3%;
  width: 100%;
  border: none;
}


.login-container {


  padding: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /* horizontal align */
  width: 550px;
  /* margin-left: 50vw;*/
  /* vertical align */
  height: 630px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 30px;
  backdrop-filter: blur(2px);
  border:  2px inset aliceblue;
  position: fixed;
  top: 100px;
  right: 100px;
}

#submit, #create-acct-btn {
  background-color: #0583D2;
  color: white;

  margin: 5% 0 2% 0;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

#sign-up {
  border: none;
}

#create-acct {
  display: none;
}

#return-btn {
  background: none;
  color: grey;
  text-decoration: underline;
  border: none;
  margin-top: 3%;
}

#forgetpass{
  display: none;
  background-color: #0583D2;
  color: white;
}